%% -*- mode: erlang -*-
{deps, [
    {emqx_plugin_helper,
        {git, "https://github.com/emqx/emqx-plugin-helper.git", {branch, "v5.9.0"}}}
]}.

{plugins, [
    {emqx_plugin_helper,
        {git, "https://github.com/emqx/emqx-plugin-helper.git", {branch, "v5.9.0"}}},
    {erlfmt, "1.6.0"}
]}.

{profiles, [
    {test, [
        {plugins, [
            {rebar_mix, {git, "https://github.com/thalesmg/rebar_mix", {ref, "20260219-mix-env"}}}
        ]},
        {deps, [
            %% {emqtt, {git, "https://github.com/emqx/emqtt", {tag, "1.13.5"}}},
            {emqx,
                {git, "https://github.com/thalesmg/emqx",
                    {ref, "0852a6b9762df892a6ac3f6c521de86f79a8213c"}}},
            {hackney, "1.20.1"},
            {jiffy, "1.1.2"},
            {mysql, {git, "https://github.com/emqx/mysql-otp", {tag, "1.8.0.1"}}},
            {eredis_cluster, {git, "https://github.com/emqx/eredis_cluster", {tag, "0.8.8"}}}
        ]},
        {overrides, [
            {override, emqx, [
                {rebar_mix, [
                    {env, "emqx-enterprise-test"},
                    {system_env, [{"PROFILE", "emqx-enterprise-test"}]}
                ]}
            ]}
        ]}
    ]}
]}.

{erl_opts, [debug_info]}.

%% this is the release version, different from app vsn in .app file
{relx, [
    {release,
        %% Do not update version manually, use make bump-version-patch/minor/major instead
        {emqx_offline_message_plugin, "2.0.0"}, [
            emqx_offline_message_plugin,
            emqx_plugin_helper
        ]},
    {dev_mode, false},
    {include_erts, false},
    {include_src, false}
]}.

%% Additional info of the plugin
{emqx_plugrel, [
    {authors, ["EMQX"]},
    {builder, [
        {name, "EMQX"},
        {contact, "emqx@emqx.io"},
        {website, "https://www.emqx.io"}
    ]},
    {repo, "https://github.com/savonarola/emqx-offline-message-plugin"},
    {functionality, ["Offline message persistence"]},
    {compatibility, [{emqx, "~> 5.9"}]},
    {description, "Offline message persistence plugin for EMQX."}
]}.
